<%- include ../layout/header %>
<link rel='stylesheet' href='/css/home/discoverList.css' />
<link rel='stylesheet' href='/css/home/right.css' />
<!--contain-->
<div class="art-box">
	<div class="art-lomo">
		<a>追寻发现...</a>
		<img src="/images/home/discover/discover-box01.jpg" alt="discover-box01" />
	</div>
</div>

<!--contain-->
<div class="contain">
	<div class="content">
    
    	<!--con-left-->
    	<span class="con-left">
        	<ul class="music-list">
            	<li>
               		<div>
                        <span class="art-img"><img src="/images/home/discover/timthumb-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
							<div class="art-content">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">做一个淡然的女子。</a></div>
                                <div class="art-warp-con">
                                    <p>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </p>
									<button type="button" class="btn btn-default">阅读更多&gt&gt</button>
                                </div>
								<div class="art-other">
									<span class="art-date">2013年6月1日</span>
								</div>
							</div>
                        </span>
                    </div>
                </li>
				<li>
               		<div>
                        <span class="art-img"><img src="/images/home/discover/timthumb-02.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
							<div class="art-content">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">那一年的教室。</a></div>
                                <div class="art-warp-con">
                                    <p>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </p>
									<button type="button" class="btn btn-default">阅读更多&gt&gt</button>
                                </div>
								<div class="art-other">
									<span class="art-date">2013年6月1日</span>
								</div>
							</div>
                        </span>
                    </div>
                </li>
				<li>
               		<div>
                        <span class="art-img"><img src="/images/home/discover/timthumb-03.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
							<div class="art-content">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">白墙红瓦，花街草巷。</a></div>
                                <div class="art-warp-con">
                                    <p>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </p>
									<button type="button" class="btn btn-default">阅读更多&gt&gt</button>
                                </div>
								<div class="art-other">
									<span class="art-date">2013年6月1日</span>
								</div>
							</div>
                        </span>
                    </div>
                </li>
				<li>
               		<div>
                        <span class="art-img"><img src="/images/home/discover/timthumb-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
							<div class="art-content">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">白墙红瓦，花街草巷。</a></div>
                                <div class="art-warp-con">
                                    <p>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    </p>
									<button type="button" class="btn btn-default">阅读更多&gt&gt</button>
                                </div>
								<div class="art-other">
									<span class="art-date">2013年6月1日</span>
								</div>
							</div>
                        </span>
                    </div>
                </li>
				<li>
               		<div>
                        <span class="art-img"><img src="/images/home/discover/timthumb-02.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
							<div class="art-content">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">白墙红瓦，花街草巷。</a></div>
                                <div class="art-warp-con">
                                    <p>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </p>
									<button type="button" class="btn btn-default">阅读更多&gt&gt</button>
                                </div>
								<div class="art-other">
									<span class="art-date">2013年6月1日</span>
								</div>
							</div>
                        </span>
                    </div>
                </li>
        	</ul> 
			<button type="button" class="btn btn-default">加载更多...</button>
        </span>
	
    	<!--con-right-->
    	<%- include ../layout/right %> 
    </div>
</div>

<%- include ../layout/footer %>