<%- include ../layout/header %>
<link rel='stylesheet' href='/css/home/movieList.css' />
<link rel='stylesheet' href='/css/home/right.css' />
<!--contain-->
<div class="art-box">
	<div class="art-lomo">
		<a>光影斑驳...</a>
		<img src="/images/home/movie/art-box01.jpg" alt="art-box01" />
	</div>
</div>

<!--contain-->
<div class="contain">
	<div class="content">
    
    	<!--con-left-->
    	<span class="con-left">
        	<ul class="music-list">
            	<li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="/home/movieIndexGet">白墙红瓦，花街草巷。</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="/home/movieIndexGet">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-02.jpg" alt="art-01" title="离开，一场疼痛的放逐" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>
                                    	五月，时日忽然漫长。
										匍匐在一个偏僻的小镇里，在小店里抽烟，喝清水度过一日，抑或暴食不能止，被一堆厚实混浊之物堵的严实。
                                        这，大概就是思想者的堕落清醒者的悲哀。在一个人身边，很快对她厌倦无言，
                                        打开电脑，依旧听的是另一个人曾经一起听过的歌，
                                        有时候，想念忽然变得轻微，些许的疼痛麻木着麻木的灵魂。
                                        无处可去，这个词对着它许久，却还是离开。一场放逐的奔走。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="http://r3.ykimg.com/05160000530EEB63675839160D0B79D5" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-02.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="/home/musicIndexGet">白墙红瓦，花街草巷。</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="/home/musicIndexGet">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-02.jpg" alt="art-01" title="离开，一场疼痛的放逐" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>
                                    	五月，时日忽然漫长。
										匍匐在一个偏僻的小镇里，在小店里抽烟，喝清水度过一日，抑或暴食不能止，被一堆厚实混浊之物堵的严实。
                                        这，大概就是思想者的堕落清醒者的悲哀。在一个人身边，很快对她厌倦无言，
                                        打开电脑，依旧听的是另一个人曾经一起听过的歌，
                                        有时候，想念忽然变得轻微，些许的疼痛麻木着麻木的灵魂。
                                        无处可去，这个词对着它许久，却还是离开。一场放逐的奔走。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-03.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-01.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
                <li>
               		<div>
                        <span class="art-img"><img src="/images/home/movie/art-02.jpg" alt="art-01" title="白墙红瓦，花街草巷。" /></span>
                        <span class="art-warp">
                        		<div class="art-warp-title"><a href="writing.html">离开，一场疼痛的放逐</a></div>
                                <div class="art-warp-con">
                                    <a>其实一切，最後都是记忆。<br />
                                    所以，请尽量正确的记忆：<br />
                                    如果不是恋爱，就不要记忆为恋爱。<br />
                                    如果不是吻，就不要记忆为吻。<br />
                                    而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。
                                    </a>
                                </div>
                                <div class="article-read">
                                   	<a href="writing.html">试听体验<span>&gt;&gt;</span></a>
                                </div>
                        </span>
                    </div>
                </li>
        	</ul>  
            <button type="button" class="btn btn-default">加载更多...</button>
        </span>
	
    	<!--con-right-->
    	<%- include ../layout/right %> 
    </div>
</div>

<%- include ../layout/footer %>