<!--footer-->
<div class="footer">
	<div class="footer-content">
    	<div class="footer-contentbox">
            <div class="week-hot">
            	<div class="footer-con-title">一周热门</div>
            	<div class="across-cutline"></div>
                <ul>
                	<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">和GAY同床一个异性恋女孩的自白</a></li>
                    <li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">你的回忆里有这一段么</a></li>
                    <li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">陪安东尼渡过漫长的岁月</a></li>
                    <li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">指尖相碰，心的旅程</a></li>
                    <li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">转个圈、梦幻舞步</a></li>
                    <li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">说说你听见的声音罢</a></li>
                </ul>
            </div>
            <div class="member-portrait">
            	<div class="footer-con-title">最近活跃成员头像</div>
            	<div class="across-cutline"></div>
                <ul>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                	<li><a href="#"><img src="/images/home/2.jpg" alt="pointer-icon" /></a></li>
                </ul>                
            </div>
            <div class="friendly-link">
            	<div class="footer-con-title">友情链接</div>
            	<div class="across-cutline"></div>
                <ul>
                	<li><a href="http://www.douban.com" target="_black">豆瓣社区</a></li>
                    <li><a href="http://www.xiami.com" target="_black">虾米音乐网</a></li>
                    <li><a href="http://y.qq.com/" target="_black">QQ音乐</a></li>
                    <li><a href="http://music.163.com/" target="_black">网易云音乐</a></li>
                    <li><a href="http://music.taobao.com/" target="_black">淘宝音乐馆</a></li>
                    <li><a href="http://www.tudou.com" target="_black">土豆网</a></li>
                    <li><a href="http://music.so.com/" target="_black">360音乐搜索</a></li>
                    <li><a href="http://www.youku.com" target="_black">优酷</a></li>
                    <li><a href="http://www.onethink.cn" target="_black">OneThink官网</a></li>
                    <li><a href="http://b3c4.com/category/design" target="_black">发现设计</a></li>
                    <li><a href="http://tv.sohu.com/" target="_black">搜狐视频</a></li>
                    <li><a href="http://music.sina.com/" target="_black">新浪乐库</a></li>
                    <li><a href="http://www.360kan.com/" target="_black">360影视</a></li>
                    <li><a href="http://pp.163.com/square" target="_black">网易摄影社区</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-nav">
    	<div class="footer-navbox">
            <ul>
                <li><a href="/home/aboutAboutGet">关于蝌蚪</a></li><span class="footer-cutline"></span>
                <li><a href="/home/aboutTeamGet">团队风采</a></li><span class="footer-cutline"></span>
                <li><a href="#">合作投资</a></li><span class="footer-cutline"></span>
                <li><a href="#">联系方式</a></li><span class="footer-cutline"></span>
                <li><a href="#">友情链接</a></li>
            </ul>
            <span id="copyright"><a>&copy;</a>Copyright 2014 ikdou.com All Rights Reserved.</span>
        </div>
    </div>
</div>
<script src="/js/common/common.js" type="text/javascript"></script>
</body>
</html>