<!DOCTYPE html>
<html>
<head>
<title><%=title %></title>
<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
<link rel='stylesheet' href='/css/home/layout.css' />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-opacity" role="navigation">
  <div class="container">
    <div class="header-contain-box">
		<span class="header-contain-box-left">
			<a href="/home/indexIndexGet"><img src="/images/home/logo.png" width="122" height="50" alt="logo" /></a>
		</span>
		<span class="header-contain-box-right">
			<ul>
				<li><a href="/home/musicListGet">音乐</a></li>
				<li><a href="/home/quanListGet">圈子</a></li>
				<li><a href="/home/movieListGet">电影</a></li>
				<li><a href="/home/discoverListGet">发现</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" style="width:300px;" placeholder="搜 素...">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
			</form>
		</span>
	</div>
  </div>
</nav>