<span class="con-right">
	<div class="comments">
		<span class="con-right-title"><a>圈子说说</a></span>
		<div id="scrollDiv">
		<ul>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
			<li>
				<span>
					<a href="#">
					<div class="comments-left"><img src="/images/home/2.jpg" alt="pointer-icon" /></div>
					<div class="comments-right">
						<span class="comments-name">XX谁谁 说：</span>
						<span class="comments-con">
						   <p> 生心相扣
							恰好的美丽，恰好的你。
							每个人都在演自己的偶像剧   
							</p>
						</span>
					</div>
					</a>
				</span>
			</li>
		</ul>
		</div>
	</div>
	<div class="articles">
		<span class="con-right-title"><a>热门文章</a></span>
		<ul>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">你的回忆里有这一段么,陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">指尖相碰，心的旅程,转个圈、梦幻舞步</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">转个圈、梦幻舞步</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">你的回忆里有这一段么,陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">指尖相碰，心的旅程,转个圈、梦幻舞步</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">转个圈、梦幻舞步</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">你的回忆里有这一段么,陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">陪安东尼渡过漫长的岁月</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">指尖相碰，心的旅程,转个圈、梦幻舞步</a></li>
			<li><img src="/images/home/pointer-icon.png" alt="pointer-icon" /><a href="#">转个圈、梦幻舞步</a></li>
		</ul>
	</div>
	<div class="sponsor">
		<span class="con-right-title"><a>广告赞助</a></span>
		<ul>
			<li><a><img src="/images/home/ad01.jpg" alt="wm01" /></a></li>
			<li><a><img src="/images/home/ad02.jpg" alt="wm02" /></a></li>
			<li><a href="http://www.ikdou.com" target="_black"><img src="/images/home/ad03.jpg" alt="天福茗茶店" /></a></li>
			<li><a><img src="/images/home/ad02.jpg" alt="wm02" /></a></li>
			<li><a><img src="/images/home/ad01.jpg" alt="wm01" /></a></li>
			<li><a><img src="/images/home/ad02.jpg" alt="wm02" /></a></li>
		</ul> 
	</div>
</span>
<script src="/libs/jquery/jquery.min.js" type="text/javascript"></script>