<%- include ../layout/header %>
<link rel='stylesheet' href='/css/home/musicIndex.css' />
<link rel='stylesheet' href='/css/home/right.css' />

<!--contain-->
<div class="art-box">
	<div class="art-box-con">
    	<span class="art-lomo">
        	<a>清新音乐------青春是冰做的风铃</a>
			<div class="art-music">
				<embed src="http://www.xiami.com/widget/0_2096838/singlePlayer.swf" type="application/x-shockwave-flash" autostart=true loop=true width="257" height="33" wmode="transparent"></embed>
			</div>			
        	<label>标签：风铃</label>
        </span>
	</div>
</div>

<!--contain-->
<div class="contain">
	<div class="content">
    
    	<!--con-left-->
    	<span class="con-left">            
            <span class="shadow-sign">
				<div class="shadow-portrait"><a href="#"><img src="/images/home/music/timthumb.jpg" alt="pointer-icon" title="以静" /></a></div>
				<div class="shadow-date">
					<span class="shadow-day">26<i>th</i></span>
					<span class="shadow-month">五月</span>
					<span class="shadow-year">2012</span>
				</div>
				<div class="shadow-com">0</div>
			</span>
			<span class="shadow-warp">
					<div class="shadow-img">
						<img src="/images/home/music/timthumb.jpg" alt="shadow-01" title="白墙红瓦，花街草巷。" />
					</div>
					<div class="shadow-warp-con">
						其实一切，最後都是记忆。<br /><br />
						所以，请尽量正确的记忆：<br /><br />
						如果不是恋爱，就不要记忆为恋爱。<br /><br />
						如果不是吻，就不要记忆为吻。<br /><br />
						而，如果真的爱，那当然，万勿错过，就一定要记忆为，爱。<br /><br />
						
						"丽江游记。"说出了青春的短暂与稍纵即逝，所有激情、活力与美丽的容颜因为青春的短暂而显得那么苍白无力，是的，时间的车轮会把青春连同其它一起碾压成岁月得渣滓。 
						<br /><br />

						所留下的、所记得的果真变得模糊了，只是偶尔出现在梦中的场景那么真切，原来曾经的我还记得。<br /><br />
						当你们在认为我想得太多的时候，会不会想到你们记忆深 处的图片或者在午夜里萦绕心间的梦魇？<br /><br />
						我想，或许我不曾经历过什么，但是我所遇见的给我带来的感觉是别人无法想象到的。<br /><br />
						所以，每一丝信息勾起的回忆对我来说都是那么的强烈。<br /><br />
						影响我的只是记忆，渐渐被遗忘的记忆，变得像盛夏中透过葱郁树叶投影下来照在眼前的光影一样的斑驳。<br /><br />
						只是依旧的刺眼热烈，哪怕只是片断。所以，每一丝信息勾起的回忆对我来说都是那么的强烈。<br /><br /><br />
						影响我的只是记忆，渐渐被遗忘的记忆，变得像盛夏中透过葱郁树叶投影下来照在眼前的光影一样的斑驳。<br /><br />
						只是依旧的刺眼热烈，哪怕只是片断。
					</div>
			</span>
            
            <div class="guess">
            	<span class="guess-name">猜你还喜欢：</span>
                <span class="guess-con">
                	<div>
                    	<span class="guess-con-img"><img src="/images/home/music/art-01.jpg" /></span>
                    	<span class="guess-con-name"><a href="">白墙红瓦，花街草巷。白墙红瓦，花街草巷.</a></span>
                    </div>
                    <div>
                    	<span class="guess-con-img"><img src="/images/home/music/art-02.jpg" /></span>
                    	<span class="guess-con-name"><a href="">爱 是一件美好的事。</a></span>
                    </div>
                    <div>
                    	<span class="guess-con-img"><img src="/images/home/music/art-03.jpg" /></span>
                    	<span class="guess-con-name"><a href="">离开，一场疼痛的放逐。</a></span>
                    </div>
                    <div>
                    	<span class="guess-con-img"><img src="/images/home/music/art-01.jpg" /></span>
                    	<span class="guess-con-name"><a href="">白墙红瓦，花街草巷。</a></span>
                    </div>
                    <div>
                    	<span class="guess-con-img"><img src="/images/home/music/art-01.jpg" /></span>
                    	<span class="guess-con-name"><a href="">白墙红瓦，花街草巷。</a></span>
                    </div>
                </span>               
            </div>
            
            
    		<!--mess-->
            <ul>
            	<li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
                <li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
                <li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
                <li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
                <li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
                <li>
                	<span class="mess-info">
                    	<div class="mess-member"><img src="/images/home/2.jpg" alt="member" title="member" /></div>
                        <div class="mess-content">
                        	<span class="mess-con-info">
                            	<div class="mess-time">2011 年 10 月 26 日 at 10:27</div>
                                <div class="mess-btn">
                                    <a href="writing.html">回 复</a>
                                </div>
                            </span>
                        	<span class="mess-con">很美的誓言</span>
                        </div>
                    </span>
            	</li>
            </ul>
            
            
            
    		<!--message-board-->
            <div class="message-board">
            	<span class="mes-name">留点感言：</span>
            	<span class="mes-con"><textarea></textarea></span>
                <div class="article-read">
                    <a href="writing.html">点击留言</a>
                </div>
            </div>
        </span>
	
    	<!--con-right-->
    	<%- include ../layout/right %> 
    </div>
</div>

<%- include ../layout/footer %>